
:root{
 --Salte-gray : #808080; 
}


    @font-face {
        font-family: 'norsebold';
        src: url('fnt1/norse-bold-webfont.woff2') format('woff2'),
             url('fnt1/norse-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }   
 body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
 }
 #header-r{
    flex: 0 0 30%;
    height: auto;
    display: flex;
    background-image: url(imgs/dmytro-bayer--IEF-SOBoMk-unsplash.jpg);
    align-items: center;
    margin: 0;
 }

 .logo-holder {
   position: relative;
   padding: 10px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   background-color: rgba(71, 61, 61, 0.2);
 }

 .logo-holder img
 {
  width: 4em;
  height: auto;

 }
 .logo-holder p {
 font-size: 4em;
 font-family: "norsebold";
 color: azure;

 }
 .note{
   position: absolute;
   color: azure;
   font-family: 'norsebold';
   bottom: 0;
   left: 0;
   padding: 10px;
   
 }
 /* form part */
 .attion{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   gap: 20px;
   margin-top: 50px;
   margin-left: 30px;
   padding: 20px;
   font-weight: bold;
   font-size: 28px;

 }
 .rca {
   margin-top: 20px;
   margin-bottom: 30px;
 }
 form 
 fieldset {
   border: none;
   padding-left: 80px;
   padding-bottom: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   gap: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
 }

fieldset 
legend {
font-size: 28px;
margin-bottom: 10px;
}
fieldset input {
   border: 1px solid rgba(71, 61, 61, 0.2);
   border-radius: 3px;
   width: 60%;
   
}
fieldset 
label{
   display: block;
   font-size: small;
   text-align: left;
   margin-bottom: 5px;
}
.box{
   display: flex;
   flex-direction: column;
   width: 48%;
   min-width: 250px;
}