
    @font-face {
        font-family: 'norsebold';
        src: url('fnt1/norse-bold-webfont.woff2') format('woff2'),
             url('fnt1/norse-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }